body {
display: flex;
background-image: linear-gradient(to left bottom, #C1ADC2, #EAEEF9, #6D81AD);
flex-direction: column;
align-items: center;
/* justify-content: space-between; */
}

#h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 300%;
}

#formdiv {
  width: 350px;
  margin: 10px;
  border: 5px groove gray;
  padding: 10px;
}
​
