body {
    background-color: #eee;
    padding-top: 20px;
    font-family: Courier New, Courier, monospace;
    color: white;
    text-shadow: 0 0 2px black, -1px -1px 2px black, 1px 0 2px black, 1px 1px 2px black;
    color: red;
    background-color: black;
    background-size: cover;
}

h1 {
    padding: 5px;
    background-color: rgba(101, 155, 242, .2);
    border: 1px solid black;
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
    width: 500px;
    height: 150px;
}

.underscores {
    padding: 5px;
    border: 1px solid black;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    width: 600px;
    height: 100px;
    color: white;
}

#right_guess_parent {
    padding: 5px;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    width: 600px;
    height: 100px;
    color: green;
}

#right_guess_parent :last-child {
    color: aquamarine
}

#wrong_guess_parent {
    padding: 5px;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    width: 600px;
    height: 100px;
    color: red;
}

#button {
    background-color: black;
    border-radius: 15px;
    border: 1px solid whitesmoke;
    font-size: 15px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    margin-bottom: 50px;
    margin-top: 65px
}

.test {
    font-size: 30px;
    text-align: center;
}

.wrong_letter {
    color: rgb(98, 8, 161);
    text-shadow: white
}

.remaining {
    color: cornflowerblue;
    position: absolute;
    left: 50%;
    margin-left: -130px;
    height: 20;
}

img {
    background-color: white;
    width: 460px;
    height: 600px;
    margin-bottom: 100px;
    margin-top: -500px;
    background-color: thistle
}