body{
    background-color: light whitesmoke;
}

/* make the text be a mix of blue, yellow, & green */
h1{
    background-image: linear-gradient(to left, yellow,blue, yellow,lightgreen,  blue, yellow,green, blue, yellow);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 80px;
    text-align: center;

}
#wrongGuess{
    display: wrap;
    /* border: 2px dashed black; */
    /* height: auto;
    width: auto; */
    font-size: 30px;
    color: grey;

}
#underScore{
    font-size: 50px;
    color: blue;
    text-align: center;
}
#outcome{
    font-size: 50px
}

img{
    width: 300px;
    height: 300px;
}
img + p{
    display: flex;
    align-items: center;
    height: 300px;
    width: 200px;
    
}
p + img{
    display: inline;
    justify-content: center;
    
}

#button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
button{
    font-size: 30px;
    border-radius: 15px;
    background-color: lavender;
    color: black
}
button:hover {
        background-color:white; 
        color: black;
        border: 5px solid lavender;
}
#instructions{
    font: 
}


