#header {
  font-size: xx-large;
  font-family: 'Anton', sans-serif;
  color: lavender;
}
#para {
  font-size: x-large;
  font-weight: bold;
}
#image {
  font-size: x-large;
}
body {
  background-image: url("https://hpmedia.bloomsbury.com/rep/g/page-background-shell%20-%202.png");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-attachment: fixed;
  background-size: 100%;
}
div {
  text-align: center;
}
.blink {
        animation: blinker 1.2s linear infinite;
        color: #1c87c9;
       }
      @keyframes blinker {
        50% { opacity: 0; }
       }
       .blink-one {
         animation: blinker-one 1s linear infinite;
       }
       @keyframes blinker-one {
         0% { opacity: 0; }
       }
       .blink-two {
         animation: blinker-two 1.4s linear infinite;
       }
       @keyframes blinker-two {
         100% { opacity: 0; }
       }
