h1 {
  text-align: center;
  text-shadow: rgb(43, 255, 0);
  color: royalblue;
}
body {
  background-color: aqua;
  text-align: center;
}

ul {
  list-style: none;
  font-size: larger;
}

input {
  width: 200px;
  height: 20px;
  background-color: lightgreen;
  text-align: center;
}

button{
  text-decoration-style: double;
  text-decoration-color: blue;
  background-color : rgb(29, 219, 253);
  text-size-adjust: auto;
}