body{
    background-image: url('https://media.giphy.com/media/q9LvfetH3fsZO/giphy.gif');
    background-size: cover;
    width: auto;
    height: auto;
    color: white;
    text-align: center;
}

h1{

}
