body {


  display: grid;
  




}

#hangman{
  text-align: center;
  font-size: 26px;
}

#hangman > #start{
  height: 100px;
  width: 160px;
text-align: center;
font-size: 55px;
 background-color: chartreuse;

 grid-column-start: 5;

}

/* #arrayzero{

} */
#correctzero{
  color: blue;
 }
 #correctone{
  color: blue;
 }
 #correcttwo{
  color: blue;
 }
#array{
/* color:white; */
  display: flex;
    flex-direction: row;
    justify-content: space-between;

  
  margin-left: 44%;
  height: 110px;
  width: 80px;
  font-size: 86px;

}



#letter{

  grid-row-start: 80%;
  margin-left: 44%;
  height: 110px;
  width: 80px;
  font-size: 26px;

}


#roundletter{

  margin-left: 66%;
  height: 110px;
  width: 68px;
  font-size: 26px;
  background-color:yellow;
  text-align: center;


  
  border-radius: 30%;

  background-color: royalblue;
  text-align: center;
font-size: 13px;







}


#letterin{
margin-left: 66%;
height: 110px;
width: 66px;
font-size: 76px;
background-color:yellow;

}
#afterWin{
  background-color: black;
}