body {


  display: grid;
  font-size: 33px;
  text-align: center;
  




}

#hangman{
  text-align: center;
  font-size: 26px;
  grid-row-start: 2;

}

#hangman > #start{
  height: 100px;
  width: 160px;
text-align: center;
font-size: 55px;
 background-color: chartreuse;
 

 grid-column-start: 5;

}

/* #arrayzero{

} */
#correctzero{
  color: blue;
 }
 #correctone{
  color: blue;
 }
 #correcttwo{
  color: blue;
 }
#array{
/* color:white; */
grid-row-start: 3;

  display: flex;
     flex-direction: row; 
    /* justify-content: space-between;  */

  
  margin-left: 43%;
  height: 110px;
  width: 80px;
  font-size: 96px;


}



#letter{

  grid-row-start: 4;
  margin-left: 44%;
  height: 90px;
  width: 80px;
  font-size: 26px;

}


#roundletter{

  margin-left: 66%;
  height: 86px;
  width: 68px;
  font-size: 26px;
  background-color:yellow;
  text-align: center;


  
  border-radius: 30%;

  background-color: royalblue;
  text-align: center;
font-size: 13px;








}


#letterin{
margin-left: 66%;
height: 90px;
width: 66px;
font-size: 76px;
background-color:yellow;
padding-bottom: 23px;
}

#winnerDinner{
  color: purple;
background-color: chartreuse;
}

